.root {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.floating-button {
    position: fixed !important;
    bottom: 25px;
    right: 25px;
    z-index: 1;
}

video {
    clip-path: inset(2px 2px);
    filter: drop-shadow(0px 0px rgba(0, 0, 0, 0));
}
